<div class="container">
   
      <div fxLayout
            fxLayout.lt-lg="column"
            fxLayoutAlign="center"
            fxLayoutGap="10px"
            fxLayoutGap.xs="0">

            <div fxFlex="nogrow">
            <mat-card class="fundo" id="Franchesco">
            </mat-card>
            </div>
            
            <div fxFlex="nogrow">
                  <mat-card class="fundo" id="Zanetta">
                  </mat-card>
            </div>

            <div fxFlex="nogrow">
                  <mat-card class="fundo" id="Julia">
                  </mat-card>
            </div>

            <div fxFlex="nogrow">
                  <mat-card class="fundo" id="Lukita">
                  </mat-card>
            </div>
      </div>
      
</div>