.fundo {
    background-color: white;
    margin-top: 20px;
    min-width: fit-content;
    margin: 20px;
    border: 1px solid #3d3d3d;
    font-size: 18px;
}

.container {
    margin-top: 50px;
    color: #3d3d3d;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
  
.campo {
    width: 330px;
    
    color: #3d3d3d;
    background-color: white;
}

.campo-select {
    width: 330px;
    margin-left: 10px;
    color: #3d3d3d;
    background-color: white;
}