.fundo {
    background-color: #9ca7b4;
    margin-top: 20px;
    min-width: fit-content;
    margin: 20px;
    border: 1px solid #3d3d3d;
    font-size: 18px;
}

.container {
    margin-top: 50px;
    color: #3d3d3d;
}