<div class="container">
        Entre em contato conosco!
        <div fxLayout
              fxLayout.lt-lg="column"
              fxLayoutAlign="center"
              fxLayoutGap="10px"
              fxLayoutGap.xs="0">
  

            <div fxFlex="nogrow">
                  <mat-card class="fundo">

                        <form class="form">  
                              <mat-form-field class="campo" appearance="outline">
                                    <input matInput placeholder="Nome" [formControl]="nomeFormControl">
                                    <mat-error *ngIf="nomeFormControl.hasError('required')">
                                          O nome é <strong>obrigatório</strong>
                                    </mat-error>
                              </mat-form-field>


                              <mat-form-field class="campo" appearance="outline">
                                    <input matInput placeholder="Email" [formControl]="emailFormControl">
                                    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                                          Digite um e-mail válido
                                    </mat-error>

                                    <mat-error *ngIf="emailFormControl.hasError('required')">
                                          O e-mail é <strong>obrigatório</strong>
                                    </mat-error>
                              </mat-form-field>

                              <mat-form-field class="campo-select">
                                    <mat-select placeholder="Categoria" [formControl]="categoriaFormControl">
                                          <mat-option value="option">Sugestão</mat-option>
                                          <mat-option value="option">Crítica</mat-option>
                                          <mat-option value="option">Ajuda</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="categoriaFormControl.hasError('required')">
                                                É <strong>obrigatório</strong> selecionar uma categoria
                                    </mat-error>
                              </mat-form-field>

                              <mat-form-field class="campo" appearance="outline">
                                          <textarea matInput placeholder="Descrição" [formControl]="descricaoFormControl"></textarea>
                                          <mat-error *ngIf="descricaoFormControl.hasError('required')">
                                                A descrição é <strong>obrigatória</strong>
                                          </mat-error>
                              </mat-form-field>
                              
                        <a mat-button class="options">Enviar</a>
                  </form>

                  </mat-card>
            </div>
  
            <div fxFlex="nogrow">
                  <mat-card class="fundo">
                  Testeosm
                  </mat-card>
            </div>
        </div>
</div>
        