<div class="container">
        Entre em contato conosco!
        <div fxLayout
              fxLayout.lt-lg="column"
              fxLayoutAlign="center"
              fxLayoutGap="10px"
              fxLayoutGap.xs="0">
  
              <div fxFlex="50%">
                    <mat-card class="fundo">
                        Blablawill
                    </mat-card>
              </div>
  
              <div fxFlex="50%">
                    <mat-card class="fundo">
                        Testeosm
                    </mat-card>
              </div>
        </div>
</div>
        