<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="left"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
  <div fxFlex="50%">
      <div class="info">
            GraphNet lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Cras pretium porta est, sagittis interdum ligula. 

            <div class="info-secundaria">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Cras pretium porta est, sagittis interdum ligula. 
            </div>
            <div>
                <button mat-button class="options" routerLink="/cadastro">Quero me Cadastrar!</button>
                
                <button mat-button class="options" style="width: 31vh;" routerLink="/cadastro-provedor">Quero cadastrar meu Provedor!</button>
            </div>
      </div>
  </div>

  

  <div fxFlex="10fx">
      <img style="margin-top: 10%; width: 50vh; " src="../../assets/Fundo.png">
  </div>
</div>

<div style="margin-top: 200px" class="under"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="left"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
  <div fxFlex="50%">    
  </div>

  <div fxFlex="10fx">
    <div class="under-info">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Cras pretium porta est, sagittis interdum ligula. 
    </div>
  </div>
</div>

<div class="under"
    fxLayout
    fxLayout.xs="column"
    fxLayoutAlign="left"
    fxLayoutGap.xs="0">
        <div class="creditos" fxFlex="100%">    
            UNISUL
            <br/>
            GraphNet - 2019
            <br/>
            Francisco de Assis de Mello Jr., Gustavo Zancheta Ribeiro, Júlia Luiz Cardoso & Lucas de Abreu
        </div>
</div>
    

