.info {
    color: #3d3d3d;
    text-align: left;
    
    margin: 100px; 
    font-size: 50px
}

.info-secundaria {
    color: #364d94;
    text-align: left;
    margin-top: 1%;
    font-size: 25px;
}

.under-info {
  color: white;
  text-align: left;
  
  margin: 5%; 
  margin-top: 10%;
  margin-left: 20%;
  font-size: 30px;
}

.creditos {
  color: white;
  text-align: center;
  font-size: 10px;
  margin: 10px;
  margin-top: 20px;
}

a{
  text-decoration: none;
  width: fit-content;
  height: fit-content;
  white-space: normal;
}

.options {
    font-size: 15px;
    width: fit-content;
    height:fit-content;
    margin-top: 25px;
    margin-right: 20px;
    background-color: #364d94;
    color: black;
    -webkit-transition: color 200ms linear;
    -ms-transition: color 200ms linear;
    transition: color 200ms linear;
    &:hover{
      color: white;
      -webkit-transition: color 200ms linear;
      -ms-transition: color 200ms linear;
      transition: color 200ms linear;
    }
    
  }

  .under{
    background: black;
    color: black;
    background-color: #364d94
  }