<div class="container">
    <div>
        <mat-form-field class="campo-select">
            <mat-select [(value)]="provedor_id" placeholder="Selecione um provedor">
                <mat-option *ngFor="let pro of provedores" [value]="pro.id">{{pro.nomeFantasia}}</mat-option>
          </mat-select>
        </mat-form-field>
    </div>
    <div>        
        <a mat-button class="options" routerLink="/add-review">Adicionar uma Análise</a>
    </div>
    <div fxLayout
          fxLayout.lt-lg="column"
          fxLayoutAlign="center"
          fxLayoutGap="10px"
          fxLayoutGap.xs="0">


        <div fxFlex="nogrow">
            <mat-card class="fundo">
                <h6 style="color: #3d3d3d">Análises Principais:</h6>


            </mat-card>                          

        </div>
    </div>
</div>
    