<div class="container">
    Análises de Provedores
    <div>
        <mat-form-field class="campo-select">
            <mat-select placeholder="Selecione um Provedor">
            </mat-select>
        </mat-form-field>
    </div>
    <div fxLayout
          fxLayout.lt-lg="column"
          fxLayoutAlign="center"
          fxLayoutGap="10px"
          fxLayoutGap.xs="0">



        <div fxFlex="nogrow">
            <mat-card class="fundo">
                <h6 style="color: #3d3d3d">Análises Principais:</h6>

            </mat-card>                          

        </div>

        <div fxFlex="nogrow">
              <mat-card class="fundo">
              <h6 style="color: #3d3d3d">Análises Críticas::</h6>
              </mat-card>
        </div>
    </div>
</div>
    