.fundo {
    background-color: #9ca7b4;
    margin-top: 20px;
    max-width: 250px;
    margin: 20px;
    border: 1px solid #3d3d3d;
}

.container {
    margin-top: 50px;
}

#Franchesco {
    background-image: url("../../assets/Franchesco-Icone.png");
    background-position: center;
    height: 540px;
    width: 290px;
    &:hover{
        background-image: url("../../assets/Anonymous.png");
    }
 }
 
#Zanetta {
    background-image: url("../../assets/Zanetta-Icone.png");
    background-position: center;
    height: 540px;
    width: 290px;
    &:hover{
        background-image: url("../../assets/Zanetta.png");
    }
}

#Julia {
    background-image: url("../../assets/Julia-Icone.png");
    background-position: center;
    height: 540px;
    width: 290px;
    &:hover{
        background-image: url("../../assets/Zanetta.png");
    }
}


#Lukita {
    background-image: url("../../assets/Lukita-Icone.png");
    background-position: center;
    height: 540px;
    width: 290px;
    &:hover{
        background-image: url("../../assets/Zanetta.png");
    }
}
