<div class="container">
      Página de Controle Geográfico
      <div fxLayout
        fxLayout.lt-lg="column"
        fxLayoutAlign="center"
        fxLayoutGap="10px"
        fxLayoutGap.xs="0">

            <div fxFlex="nogrow">
                  <mat-card class="fundo-mapa">
                  <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
                        <agm-marker [iconUrl]="iconCliente" *ngFor="let p of pendentes" [latitude]="p.latitude" [longitude]="p.longitude"> 
                              <agm-info-window>
                                    <p>Nome: {{p.nome}}</p>
                                    <p>CPF: {{p.cpf}}</p>
                                    <p>Telefone: {{p.telefone}}</p>
                                    <p>E-mail: {{p.email}}</p>
                                    <p>Data de cadastro: {{p.data | date:'dd/MM/yyyy'}}</p>
                              </agm-info-window>
                        </agm-marker>

                        <agm-marker [iconUrl]="iconCaixa" *ngFor="let c of caixas" [latitude]="c.latitude" [longitude]="c.longitude"> 
                              <agm-info-window>
                                    <p>Caixa de Distribuição</p>
                                    <p>Nome: {{c.nome}}</p>
                              </agm-info-window>
                        </agm-marker>
                  </agm-map>
                  </mat-card>
            </div>
            <div fxFlex="nogrow">
                  <mat-card class="fundo">

                  </mat-card>
            </div>

            <mat-form-field style="display: none;" class="campo" appearance="outline">
                  <input value={{address}} matInput placeholder="Endereço"
                  type="text" (keydown.enter)="$event.preventDefault()" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
            </mat-form-field>
    </div>
</div>
  