.fundo {
    background-color: white;
    margin-top: 20px;
    min-width: 650px;
    max-width: 650px;
    min-height: 650px;
    margin: 20px;
    border: 1px solid #3d3d3d;
    font-size: 18px;
}

.fundo-mapa {
    background-color: white;
    margin-top: 20px;
    min-width: 650px;
    max-width: 650px;
    max-height: fit-content;
    margin: 20px;
    margin-bottom: 0px;
    border: 1px solid #3d3d3d;
    font-size: 18px;
}

.container {
    margin-top: 50px;
    color: #3d3d3d;
}

.form {
    text-align: center;
    margin: 0 auto;
    min-width: fit-content;
    max-width: fit-content;
    font-size: 13px;
}
  
.campo {
    width: 330px;
    color: #3d3d3d;
    background-color: white;
}

.campo-select {
    width: 330px;
    color: #3d3d3d;
    background-color: white;
}

.notificacao {
    width: 600px;
    margin: 10px;
    background-color: #e0e0e0;
    font-size: 14px;
}

.options-notificacao {
    font-size: 13px;
    margin-left: 3px;
    margin-right: 3px;
    background-color: #364d94;
    color: black;
    border: 1px solid black;
    -webkit-transition: color 200ms linear;
    -ms-transition: color 200ms linear;
    transition: color 200ms linear;
    &:hover{
      color: white;
      -webkit-transition: color 200ms linear;
      -ms-transition: color 200ms linear;
      transition: color 200ms linear;
    }
}

.options-notificacao-remove {
    font-size: 13px;
    margin-left: 3px;
    margin-right: 3px;
    background-color: #e81f13;
    border: 1px solid black;
    color: black;
    -webkit-transition: color 200ms linear;
    -ms-transition: color 200ms linear;
    transition: color 200ms linear;
    &:hover{
      background-color: #eb4034;
      color: white;
      -webkit-transition: color 200ms linear;
      -ms-transition: color 200ms linear;
      transition: color 200ms linear;
    }
}

.options {
    font-size: 12px;
    margin-left: 3px;
    margin-right: 3px;
    background-color: #364d94;
    color: black;
    -webkit-transition: color 200ms linear;
    -ms-transition: color 200ms linear;
    transition: color 200ms linear;
    &:hover{
      color: white;
      -webkit-transition: color 200ms linear;
      -ms-transition: color 200ms linear;
      transition: color 200ms linear;
    }
}

.options-mapa {
    font-size: 16px;
    margin-left: 3px;
    margin-right: 3px;
    background-color: #364d94;
    margin-top: 25px;
    color: black;
    -webkit-transition: color 200ms linear;
    -ms-transition: color 200ms linear;
    transition: color 200ms linear;
    &:hover{
      color: white;
      -webkit-transition: color 200ms linear;
      -ms-transition: color 200ms linear;
      transition: color 200ms linear;
    }
}

.options-cli {
    font-size: 15px;
    background-color: #364d94;
    color: black;
    -webkit-transition: color 200ms linear;
    -ms-transition: color 200ms linear;
    transition: color 200ms linear;
    &:hover{
      color: white;
      -webkit-transition: color 200ms linear;
      -ms-transition: color 200ms linear;
      transition: color 200ms linear;
    }
}

agm-map {
    width: 650px;
    height: 650px;
}

