.fundo {
    background-color: white;
    margin-top: 20px;
    min-width: 400px;
    max-width: 400px;
    min-height: fit-content;
    margin: 20px;
    border: 1px solid #3d3d3d;
    font-size: 18px;
}

.container {
    margin-top: 50px;
    color: #3d3d3d;
}

.form {
    min-width: fit-content;
    max-width: fit-content;
    font-size: 13px;
}
  
.campo {
    width: 330px;   
    color: #3d3d3d;
    background-color: white;
}

.campo-select {
    width: 330px;
    color: #3d3d3d;
    background-color: white;
}

.options {
    font-size: 15px;
    width: fit-content;
    height:fit-content;
    margin-top: 25px;
    margin-right: 20px;
    background-color: #364d94;
    color: black;
    -webkit-transition: color 200ms linear;
    -ms-transition: color 200ms linear;
    transition: color 200ms linear;
    &:hover{
        color: white;
        -webkit-transition: color 200ms linear;
        -ms-transition: color 200ms linear;
        transition: color 200ms linear;
    }
    
}